* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  font-family: serif;
  padding: 0 5px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 130px 0 80px 0;
  background-image: url(https://i.imgur.com/cvKpOnd.jpg);
  background-size: cover;
  text-align: center;
  height: auto;
}

.top-wrapper img {
  width: 100%;
}

.top-wrapper h1 {
  font-size: 90px;
  font-weight: bold;
  color: #000000;
  -webkit-text-stroke: 0.5px #ffffff;
  text-shadow: 5px 5px 9px #ffffff;
  padding-top: 80px;
  padding-bottom: 50px;
  letter-spacing: 5px;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}


header {
  height: 90px;
  width: 100%;
  background-color: #fffff8;
  position : fixed;
  z-index: 10;
  margin-top: 0px:
  padding: 0px;
}

.header-left {
  float: left;
}

.logo {
  height: 90px;
  width: 180px;
}



.header-right {

}

.header-right ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.header-right ul li {
  float: left;
  height: 90px;
  width: 176px;
  background-color: #fffff8;
  text-align: center;
  line-height: 90px;
  font-size: 15px;
}

.header-right ul li a {
  text-decoration: none;
  color: black;
  display: block;
  font-weight: 700;
  transition: all 0.5s;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.header-right ul li a:hover{
  background-color: rgba(125, 225, 125, 0.8);
}

.header-right ul li ul li{
  display: none;
}

ul li:hover ul li {
 display: block;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}




.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}
/* 住まいいきいき */
.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.sub {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
  text-align: center;
  font-size: 30px;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon a {
  position: absolute;
  top: 44%;
  width: 100%;
  height: 90px;
  color: white;
  font-family: Lucida;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  display: block;
  float: center;
  transition: all 0.5s;
  text-shadow: 5px 5px 4px #000000;
}
.lesson-icon a:hover {
  color: black;
  text-shadow: 2px 2px 1px #ffffff;
}

.lessons img {
  width: 280px;
  height: auto;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #808080;
  cursor: pointer;
  box-shadow: 0 7px #333333;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.ut {
  background-size: cover;
  text-align: center;
  max-width: 100%;
  min-width: 10%;
  height: auto;
}

.ut img {
  width: 100%;
}

.inf {
  text-align: center;
  color: black;
  font-family: monospace;
}

.add {
  padding-bottom: 60px;
}

.inf p {
  font-weight: 600;
  border-bottom: 1px solid black;
}

footer p {
  color: #000000;
  font-size: 20px;
}

.container p{
  text-align: center;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
.footer-list {
  float: right;
